.chat-grouper{
    position: fixed;
    bottom:0;
    right: 20%;
    width:80%;
    top:40%;
    display:flex;
    flex-direction:row-reverse;
    justify-content:flex-start;
    align-items:flex-end;
    margin-bottom:0;
}

.chat-grouper li {
	min-width:250px;
	width:18%;
    margin-right:6px;
}