.list-view {
    top:5%;
    bottom:0;
    left:80%;
    width:19.5%;
    color:ghostwhite;
    min-width:150px;
    position:fixed !important;
    z-index:1;
    background-color:#2a2a2a;
    overflow:auto;
    border:2px solid peachpuff;
}

.list-view, h2{
    border-top-left-radius:12px;
}
.list-view h2 {
    background-color: black;
    padding:0.5em 1em;
    margin:0;
}

.list-friends {
    padding:0.1em;
    margin:0;
}

.list-friends li{
    display:block;
    clear:both;
    padding:0.5em;
    margin:0;
    font-size:120%;
    border-top: 1px solid gainsboro;
}

.list-friends li:hover {
    background-color:#50505a;
}

.list-friends li.selected {
    background-color:#80808f !important;
}

.list-friends li.selected:hover {
    background-color:#8a8aa0 !important;
}

.friend-online {   
    background-color:#404040;
}

.friend-offline {
    color:#909090;
    background-color:#1a1a1a;
}

.friend-offline.selected {
    color:#bababa;
}
