.chat-window {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/* defines flex container and settings*/
	display: -webkit-flex;
	display:flex;
	align-items:stretch;
	flex-direction: column;
	justify-content:flex-end;
	height:50%;
	box-shadow: 1px -2px 3px black;
}

.name-bar {
	background-color:#400070;/*#8000c0; #6000a0;*/
	color:white;
	padding:0.5em 1em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height:2.5em;
	display:block;
	text-shadow: 1px 3px #0a0a0a;
}

.name-bar #online-symbol {
	float:left;
	padding:0 0.2em 0 0;
	margin:0;
	color:lightgreen;
	font-size:1.2em;
}

.name-bar h4 {
	float:left;
	clear:top;
	margin:0;
	
}

.name-bar button {
	color:white;
	opacity:.9;
	padding:0.2em;
}

.name-bar button:hover {
	color:lightgray;
}

.chat-inside {
	margin:auto;
	display:block;
	padding:2px;
	background-color:#2a2a2a;
}
input {
	height:2em;
	width:100%;
}