.chat-window {
    display:block;
    position:fixed;
    bottom:0.5em;
    right:21%;
    width:16%;
}

h3{
    background-color:black;
    color:white;
    padding:0.5em 1em;
    border-top-left-radius: 10px;
    margin:0;
}

.chat-inside {
    margin:0;
    background-color:#2a2a2a;
    padding:0;
}

conversation{
    margin:0;
}

input{
    display:block;
    margin:auto;
    width:98%;
}